{% extends "layout.html" %}

{% block navbar_list %}
<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
 {% if signed_in %}
 <a class="navbar-brand" href="{{url_for('index')}}"> Good Reads </a>
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
   <li class="nav-item">
     <a class="nav-link" href="{{url_for('search')}}">Search </a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="{{url_for('reviews')}}"> Reviews</a>
   </li>
   <li class="nav-item"> 
     <a class="nav-link" href="#">
       Welcome: {{signed_in}} 
    </a>
  </li>
   <li class="nav-item">
     <a class="nav-link" href="{{url_for('logout')}}"> Logout</a>
   </li>
  
  </ul>
  
  {% else %}
	<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	   <li class="nav-item">
	     <a class="nav-link" href="{{url_for('login')}}">Login </a>
	   </li>
	   <li class="nav-item active">
	     <a class="nav-link" href="{{url_for('register')}}"> Register</a>
	   </li>
	  
	</ul>

  {% endif %}
</div>
{% endblock%}




{% block body%}
<div class="row justify-content-center">
<div class="col-md-6">
<div class="card">
<header class="card-header">
	<!-- <a href="" class="float-right btn btn-outline-primary mt-1">Log in</a> -->
	<h4 class="card-title text-center mt-2">Sign up: <strong style="color:green;">{{register}}</strong></h4>
</header>
<article class="card-body">
<form action="{{ url_for('register') }}" method="post">
	<div class="form-row">
		<div class="col form-group">
			<label for="firstName">First name </label>   
		  	<input type="text" required="required" class="form-control" name="firstName" placeholder="John">
		</div> <!-- form-group end.// -->
		<div class="col form-group">
			<label for="lastName" >Last name</label>
		  	<input type="text" class="form-control" required="required" name="lastName" placeholder="Smith">
		</div> <!-- form-group end.// -->
	</div> <!-- form-row end.// -->
	<div class="form-group">
		<label for="email">Email address</label>
		<input type="email" name="email" class="form-control" required="required" placeholder="john.smith@gmail.com">
		<small class="form-text text-muted">We'll never share your email with anyone else.</small>
	</div> <!-- form-group end.// -->
	<div class="form-group">
		<label for="password" >Create password</label>
	    <input class="form-control" required="required" name="password" type="password">
	</div> <!-- form-group end.// -->  
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Register  </button>
    </div> <!-- form-group// -->      
                                           
</form>
</article> <!-- card-body end .// -->
<div class="border-top card-body text-center">Have an account? <a href="{{ url_for('login') }}">Log In</a></div>
</div> <!-- card.// -->
</div>
</div>
{% endblock %}
